#container{
    border:2px solid black;
    display:flex;
    flex-direction:row;
    height:250px;
    width:480px;
    gap:4px;
}
.box{
    border:2px solid grey;
    height:250px;
    width:120px;
    background-color:antiquewhite;
}
.box:hover{
    cursor: pointer;
}
.box:nth-child(1){
    background-color:rgb(192, 215, 246);
    display:flex;
    flex-direction:column;
    img{
        height:80px;
        widht:auto;
    }

}
.box:nth-child(2){
    background-color:rgb(236, 246, 151);
     display:flex;
    flex-direction:row;
    
}
.box:nth-child(3){
    background-color:rgb(237, 150, 204);
     display:flex;
    flex-direction:column;
     img{
        height:80px;
        widht:auto;
    }
    
}
.box:nth-child(4){
    background-color:rgb(162, 250, 177);
     display:flex;
    flex-direction:row;
    
}
.part{
    height:50px;
    width:auto;
}
.box:nth-child(1) > div,
.box:nth-child(3) > div{
    height: 50%;
    width: auto;
}
.box:nth-child(2) > div,
.box:nth-child(4) > div{
    height: 150px;
    width: 50%;
}